<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #E9ECEF;
        color: black;
        text-align: center;
    }
</style>
<div class="footer">
    <p>Copyright &copy; My Guestbook Application</p>
</div>