<!doctype html>
<html class="no-js" lang="">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
  </header>
  <div class="container p-3 my-3 border">
    <h1>Welcome to my guestbook app!</h1>
    <p>Hello! This is my guestbook app. You can add your messages to the public guestbook. </p>
  </div>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>

</html>