<!doctype html>
<html class="no-js" lang="">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <br>
    <h1>Message sent! You can now see it in the guestbook.</h1>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>